
.header {
    text-align: center;
}

.main {
    text-align: center;
}

.footer {
    text-align: center;

}

button {
    background-color: white;
    border: 1px solid black;
}.ge1 {
    width: 300px;
    height: 350px;
}

.ge2 {
    width: 300px;
    height: 350px;
}

